In [216]:
%matplotlib inline
# Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
# from citipy import citipy

# https://pypi.org/project/pygeocoder/
from pygeocoder import Geocoder
import reverse_geocoder as rg

# Google developer API key
from config import gkey

In [217]:
# File to Load
data_to_load = "data/Meteorite_Landings.csv"
meteor_landings = pd.read_csv(data_to_load, parse_dates=True)

# Display the data table for preview
meteor_landings.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation,States,Counties
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)",NaN,NaN
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)",NaN,NaN
2,Abee,6,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)",NaN,NaN
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)",NaN,NaN
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)",NaN,NaN

In [218]:
# Refine source data into a starting DataFrame
meteor_landings_df = meteor_landings.filter(['name','mass (g)','year','reclat','reclong'], axis=1)
meteor_landings_df = meteor_landings_df.rename(columns={'mass (g)': 'mass',
                                                        'year': 'date',
                                                        'reclat': 'latitude',
                                                        'reclong': 'longitude'})

meteor_landings_df['admin_level_1'] = ''
meteor_landings_df['country'] = ''

meteor_landings_df.head()

,name,mass,date,latitude,longitude,admin_level_1,country
0,Aachen,21.0,01/01/1880 12:00:00 AM,50.77500,6.08333,,
1,Aarhus,720.0,01/01/1951 12:00:00 AM,56.18333,10.23333,,
2,Abee,107000.0,01/01/1952 12:00:00 AM,54.21667,-113.00000,,
3,Acapulco,1914.0,01/01/1976 12:00:00 AM,16.88333,-99.90000,,
4,Achiras,780.0,01/01/1902 12:00:00 AM,-33.16667,-64.95000,,

In [219]:
# Remove dates outside 584 year range and replace with NaT
meteor_landings_df['date'] = pd.to_datetime(meteor_landings_df['date'], errors='coerce').dt.year

meteor_landings_df.head()

       name      mass    date  latitude  longitude admin_level_1 country
0    Aachen      21.0  1880.0  50.77500    6.08333
1    Aarhus     720.0  1951.0  56.18333   10.23333
2      Abee  107000.0  1952.0  54.21667 -113.00000
3  Acapulco    1914.0  1976.0  16.88333  -99.90000
4   Achiras     780.0  1902.0 -33.16667  -64.95000

In [220]:
# Clean-up DataFrame:
#     Remove rows with NaN/NaT values in year, reclat or reclong
#     Filter to remove landings below -59 to exlude Antarctic

print('Before: ', len(meteor_landings_df))

meteor_landings_df = meteor_landings_df.dropna(subset=['date','latitude','longitude'])
meteor_landings_df = meteor_landings_df[meteor_landings_df.latitude != 0]
meteor_landings_df = meteor_landings_df[meteor_landings_df.latitude > -59]

print('After: ', len(meteor_landings_df))

Before:  45716
After:  9693

In [221]:
keyed_geocoder = Geocoder(api_key = gkey)

In [222]:
# Create a new DataFrame of a sample of the source
sample_size = 50

rand_meteor_landings = meteor_landings_df.sample(n=sample_size)
rand_meteor_landings.reset_index(drop=True, inplace=True)

rand_meteor_landings

,name,mass,date,latitude,longitude,admin_level_1,country
0,Hammadah al Hamra 001,19418.00,1990.0,29.000000,12.233330,,
1,Hammadah al Hamra 127,186.00,1995.0,28.484330,12.857500,,
2,Harper Dry Lake 017,16.40,2007.0,35.041020,-117.274650,,
3,Roosevelt County 108,4.75,2004.0,34.216670,-103.183330,,
4,Dar al Gani 849,933.00,1998.0,26.883330,16.688170,,
5,Nagaria,20.00,1875.0,26.983330,78.216670,,
6,Cat Mountain,2700.00,1981.0,32.148330,-111.111670,,
7,Ramlat as Sahmah 236,43.20,2005.0,20.565370,56.164620,,
8,El Médano 004,151.00,2010.0,-24.850000,-70.533330,,
9,Delphos (c),885.00,1977.0,34.050000,-103.633330,,
10,Sawyer,8100.00,2006.0,37.523920,-98.629930,,
11,Acfer 245,75.00,1991.0,27.563890,3.926390,,
12,Dar al Gani 904,144.00,2000.0,27.136830,16.145500,,
13,Vengerovo,10800.00,1950.0,56.133330,77.266670,,
14,Acfer 003,145.00,1989.0,27.816670,4.033330,,
15,El Médano 036,54.00,2010.0,-24.850000,-70.533330,,
16,Jiddat al Harasis 073,550000.00,2002.0,19.700000,55.733330,,
17,Shişr 038,379.85,2002.0,18.545880,53.933780,,
18,Ramlat as Sahmah 215,15.32,2003.0,20.562780,55.888980,,
19,Bou Hadid,374.00,1969.0,28.312500,0.233330,,
20,Dhofar 442,395.00,2001.0,18.862480,54.430000,,
21,Botschetschki,614.00,1823.0,51.333330,33.883330,,
22,Dar al Gani 290,730.00,1997.0,27.088170,16.057500,,
23,Lucerne Valley 090,30.70,2007.0,34.488230,-116.977970,,
24,Ramlat as Sahmah 275,963.60,2008.0,20.542600,56.106830,,
25,Dhofar 1521,1940.00,2008.0,18.401670,54.547170,,
26,Dhofar 568,65.00,2001.0,18.713200,54.374580,,
27,Cleveland,115000.00,1860.0,34.883330,-84.783330,,
28,Willard (a),800.00,1978.0,34.433330,-105.783330,,
29,Acfer 330,490.00,2001.0,27.650000,4.033330,,
30,Asco,41.00,1805.0,42.450000,9.033330,,
31,Delphos (b),548.00,1968.0,34.090000,-103.611670,,
32,Ilimaes (iron),51700.00,1870.0,-26.000000,-70.000000,,
33,St. Mark's,13780.00,1903.0,-32.016670,27.416670,,
34,Waterville,37125.00,1917.0,47.767778,-119.876389,,
35,O'Malley 002,4.60,2011.0,-30.993110,131.332530,,
36,Camel Donga 043,69.95,1993.0,-30.139330,126.901000,,
37,Épinal,277.00,1822.0,48.183330,6.466670,,
38,Sayh al Uhaymir 096,158.00,2000.0,21.109120,56.933500,,
39,Karkh,22000.00,1905.0,27.800000,67.166670,,
40,Jiddat al Harasis 666,1015.00,2011.0,19.770220,55.594000,,
41,Sayh al Uhaymir 436,808.10,2001.0,21.098070,57.280430,,
42,Roosevelt County 044,439.10,1970.0,34.250000,-103.516670,,
43,Roosevelt County 018,10.80,1981.0,34.316670,-103.416670,,
44,Fukutomi,11620.00,1882.0,33.183330,130.200000,,
45,Dhofar 1508,1645.00,2009.0,18.621300,54.436420,,
46,Pampa de Mejillones 014,3650.00,2006.0,-23.230170,-70.422190,,
47,Reid 008,221.00,1982.0,-30.083330,128.816670,,
48,Forrest 017,4.60,1992.0,-30.174170,128.069000,,
49,Roosevelt County 030,3.10,1984.0,34.283330,-103.433330,,

In [223]:
# Use Google Geocoding API to reverse lookup lat & long to get country and state

for row in range(len(rand_meteor_landings)):
    result = keyed_geocoder.reverse_geocode(rand_meteor_landings['latitude'][row],
                                            rand_meteor_landings['longitude'][row])
    rand_meteor_landings.loc[row,'admin_level_1'] = result.administrative_area_level_1
    rand_meteor_landings.loc[row,'country'] = result.country

print(len(rand_meteor_landings))

50

In [224]:
rand_meteor_landings

,name,mass,date,latitude,longitude,admin_level_1,country
0,Hammadah al Hamra 001,19418.00,1990.0,29.000000,12.233330,Jabal al Gharbi District,Libya
1,Hammadah al Hamra 127,186.00,1995.0,28.484330,12.857500,Wadi al Shatii District,Libya
2,Harper Dry Lake 017,16.40,2007.0,35.041020,-117.274650,California,United States
3,Roosevelt County 108,4.75,2004.0,34.216670,-103.183330,New Mexico,United States
4,Dar al Gani 849,933.00,1998.0,26.883330,16.688170,Jufra District,Libya
5,Nagaria,20.00,1875.0,26.983330,78.216670,Uttar Pradesh,India
6,Cat Mountain,2700.00,1981.0,32.148330,-111.111670,Arizona,United States
7,Ramlat as Sahmah 236,43.20,2005.0,20.565370,56.164620,Al Wusta Governorate,Oman
8,El Médano 004,151.00,2010.0,-24.850000,-70.533330,Región de Antofagasta,Chile
9,Delphos (c),885.00,1977.0,34.050000,-103.633330,New Mexico,United States
10,Sawyer,8100.00,2006.0,37.523920,-98.629930,Kansas,United States
11,Acfer 245,75.00,1991.0,27.563890,3.926390,Tamanrasset Province,Algeria
12,Dar al Gani 904,144.00,2000.0,27.136830,16.145500,Jufra District,Libya
13,Vengerovo,10800.00,1950.0,56.133330,77.266670,Novosibirsk Oblast,Russia
14,Acfer 003,145.00,1989.0,27.816670,4.033330,Tamanrasset Province,Algeria
15,El Médano 036,54.00,2010.0,-24.850000,-70.533330,Región de Antofagasta,Chile
16,Jiddat al Harasis 073,550000.00,2002.0,19.700000,55.733330,Al Wusta Governorate,Oman
17,Shişr 038,379.85,2002.0,18.545880,53.933780,Dhofar Governorate,Oman
18,Ramlat as Sahmah 215,15.32,2003.0,20.562780,55.888980,Al Wusta Governorate,Oman
19,Bou Hadid,374.00,1969.0,28.312500,0.233330,Adrar Province,Algeria
20,Dhofar 442,395.00,2001.0,18.862480,54.430000,Dhofar Governorate,Oman
21,Botschetschki,614.00,1823.0,51.333330,33.883330,Sums'ka oblast,Ukraine
22,Dar al Gani 290,730.00,1997.0,27.088170,16.057500,Jufra District,Libya
23,Lucerne Valley 090,30.70,2007.0,34.488230,-116.977970,California,United States
24,Ramlat as Sahmah 275,963.60,2008.0,20.542600,56.106830,Al Wusta Governorate,Oman
25,Dhofar 1521,1940.00,2008.0,18.401670,54.547170,Dhofar Governorate,Oman
26,Dhofar 568,65.00,2001.0,18.713200,54.374580,Dhofar Governorate,Oman
27,Cleveland,115000.00,1860.0,34.883330,-84.783330,Georgia,United States
28,Willard (a),800.00,1978.0,34.433330,-105.783330,New Mexico,United States
29,Acfer 330,490.00,2001.0,27.650000,4.033330,Tamanrasset Province,Algeria
30,Asco,41.00,1805.0,42.450000,9.033330,Corse,France
31,Delphos (b),548.00,1968.0,34.090000,-103.611670,New Mexico,United States
32,Ilimaes (iron),51700.00,1870.0,-26.000000,-70.000000,Región de Atacama,Chile
33,St. Mark's,13780.00,1903.0,-32.016670,27.416670,Eastern Cape,South Africa
34,Waterville,37125.00,1917.0,47.767778,-119.876389,Washington,United States
35,O'Malley 002,4.60,2011.0,-30.993110,131.332530,South Australia,Australia
36,Camel Donga 043,69.95,1993.0,-30.139330,126.901000,Western Australia,Australia
37,Épinal,277.00,1822.0,48.183330,6.466670,Grand Est,France
38,Sayh al Uhaymir 096,158.00,2000.0,21.109120,56.933500,Al Wusta Governorate,Oman
39,Karkh,22000.00,1905.0,27.800000,67.166670,Balochistan,Pakistan
40,Jiddat al Harasis 666,1015.00,2011.0,19.770220,55.594000,Al Wusta Governorate,Oman
41,Sayh al Uhaymir 436,808.10,2001.0,21.098070,57.280430,Al Wusta Governorate,Oman
42,Roosevelt County 044,439.10,1970.0,34.250000,-103.516670,New Mexico,United States
43,Roosevelt County 018,10.80,1981.0,34.316670,-103.416670,New Mexico,United States
44,Fukutomi,11620.00,1882.0,33.183330,130.200000,Saga-ken,Japan
45,Dhofar 1508,1645.00,2009.0,18.621300,54.436420,Dhofar Governorate,Oman
46,Pampa de Mejillones 014,3650.00,2006.0,-23.230170,-70.422190,Región de Antofagasta,Chile
47,Reid 008,221.00,1982.0,-30.083330,128.816670,Western Australia,Australia
48,Forrest 017,4.60,1992.0,-30.174170,128.069000,Western Australia,Australia
49,Roosevelt County 030,3.10,1984.0,34.283330,-103.433330,New Mexico,United States

In [174]:
# Plot x-axis = bins of half-centuries
# y-axis = sum of landings
# plot-points = size of point is sum of mass

In [175]:
# basemap world with landings

In [176]:
# Overlay California sum of landings & mass over map

In [212]:
rev_geocode = []

coordinates = meteor_landings.iloc[1]['GeoLocation']
print(coordinates)
result = rg.search(coordinates)
# for row in range(len(rand_meteor_landings)):
#     coordinates = [rand_meteor_landings.iloc[row]['latitude'],rand_meteor_landings.iloc[row]['longitude']]
#     result = rg.search(coordinates)
#     print(coordinates)
    
# #     rev_geocode = result
#     print(result)
# #     rev_geocode.append(result, ignore_index=True)
    
result

(56.18333, 10.23333)

TypeError: Expecting a tuple or a tuple/list of tuples